{{outlet}}
<h1>My Games</h1>
<table>
     <tr>
          {{#link-to 'pac-man' class="game-listing"}}<h1>&nbsp;&nbsp;1) Pac-Man</h1>{{/link-to}}
     </tr>

     <tr>
          {{#link-to 'tetris' class="game-listing"}}<h1>&nbsp;&nbsp;2) Tetris</h1>{{/link-to}}
     </tr>
</table>
